<div>
	<p>{{recipes.title}}-{{recipes.recipe_id}}</p> </br>
	 </br>

	<a id="chosenRecipe" ng-click="getId" class="waves-effect waves-light btn modal-trigger" data-target="modal1"><img ng-src={{recipes.image_url}}></a>

<!-- 	<div id="modal1" class="modal">
    		<div class="modal-content">
      			<h4>Title</h4>
      			<p>Ingredients goes here</p>
    		</div>
    		<div class="modal-footer">
      			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Email to Friend</a>
    		</div>
  		</div> -->
</div>
