<input type="text" id="searchTerm1" ng-model="searchTerm1" placeholder="Ingredient 1">
<input type="text" id="searchTerm2" ng-model="searchTerm2" placeholder="Ingredient 2">
<input type="text" id="searchTerm3" ng-model="searchTerm3" placeholder="Ingredient 3">
<button type="button" id="submitIngredients" ng-click="getRecipes(searchTerm1,searchTerm2,searchTerm3)">Let's Cook!</button>
</br>

<p class="recipeDisplay" ng-show="show && first">Now showing yummy noms with {{first}}<span ng-show="second && show">, {{second}}</span><span ng-show="third && show">, {{third}}</span></p>

<div ng-repeat="recipe in recipes">
	<directive recipes="recipe">
			


	</directive>
				<!-- <div id="modal1" class="modal">
    		<div class="modal-content">
      			<h4>{{recipe.title}}</h4>
      			<p>Ingredients goes here</p>
    		</div>
    		<div class="modal-footer">
      			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Email to Friend</a>
    		</div>
  		</div> -->
</div>